replicaCount: 1

image:
  repository: 078646182495.dkr.ecr.us-west-2.amazonaws.com/gitops-webapp
  pullPolicy: IfNotPresent
  tag: "c6f1fa0"

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
